@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --prime:#0C254B;
    --prime-100:#0c4293;
    --prime-200:#0e4fb1;
    --second:#45CB53;
    --second-100:#21bd31;
    --second-200:#27ee3a;
    --text: #24163f;
    --text-100: #4b4b4b;
    --text-200: #919191;
    --bg: whitesmoke;
    --bg-100: white;
    --bg-200:#b5becc; 
}



[data-mode="dark"]{
    --prime: whitesmoke;
    --prime-100:white;
    --prime-200:#b5becc;
    --second:#45CB53;
    --second-100:#21bd31;
    --second-200:#27ee3a;
    --text: whitesmoke;
    --text-100: #d8d8d8;
    --text-200: #919191;
    --bg: #0C254B;
    --bg-100: #0c4293;
    --bg-200:#0e4fb1; 
}

[data-mode="dark"] .logo img{
    filter:invert(1) grayscale(0) brightness(3) hue-rotate(182deg);

}
/*DarkMode*/
#checkdark + label{
    user-select:none;
    cursor:pointer;
    transition: all 0.5s;
}
#checkdark + label span{
    transition: all 0.5s;
}


[data-mode="dark"] #checkdark:checked + label .color-mode__dark,
[data-mode="dark"] #checkdark:checked + label .color-mode__light{
    transform:translateY(0);
}

#checkdark:checked + label .color-mode__dark,
#checkdark:checked + label .color-mode__light
{
    transform:translateY(0);
}

#checkdark + label .color-mode__dark,
#checkdark + label .color-mode__light
{
    transform:translateY(-26px) ;
}


.main-nav ul a{
    border-block-end:3px solid transparent;
}
.main-nav ul a.active{
    border-block-end:3px solid var(--second);
}

@media screen and ( min-width: 768px ){
    .main-nav ul{
        opacity: 1 !important;
        pointer-events: all !important;
    }
}