@tailwind base;
@tailwind components;
@tailwind utilities;



:root{
    --prime:#0C254B;
    --prime-100:#0c4293;
    --prime-200:#0e4fb1;
    --second:#45CB53;
    --second-100:#21bd31;
    --second-200:#27ee3a;
    --text: #24163f;
    --text-100: #4b4b4b;
    --text-200: #919191;
    --bg: whitesmoke;
    --bg-100: white;
    --bg-200:#b5becc; 
}



[data-mode="dark"]{
    --prime: whitesmoke;
    --prime-100:white;
    --prime-200:#b5becc;
    --second:#45CB53;
    --second-100:#21bd31;
    --second-200:#27ee3a;
    --text: whitesmoke;
    --text-100: #d8d8d8;
    --text-200: #919191;
    --bg: #0C254B;
    --bg-100: #0c4293;
    --bg-200:#0e4fb1; 
}


[data-mode="dark"] .logo img{
    filter:invert(1) grayscale(0) brightness(3) hue-rotate(182deg);
}
/*DarkMode*/
#checkdark + label{
    user-select:none;
    cursor:pointer;
    transition: all 0.5s;
}
#checkdark + label span{
    transition: all 0.5s;
}


[data-mode="dark"] #checkdark:checked + label .color-mode__dark,
[data-mode="dark"] #checkdark:checked + label .color-mode__light{
    transform:translateY(0);
}

#checkdark:checked + label .color-mode__dark,
#checkdark:checked + label .color-mode__light
{
    transform:translateY(0);
}

#checkdark + label .color-mode__dark,
#checkdark + label .color-mode__light
{
    transform:translateY(-26px) ;
}


.main-nav ul a{
    border-block-end:3px solid transparent;
}
.main-nav ul a.active{
    border-block-end:3px solid var(--second);
}

@media screen and ( min-width: 768px ){
    .main-nav ul{
        opacity: 1 !important;
        pointer-events: all !important;
    }
}


/* Hero Section Start page*/
[data-mode] .hero-section::before{
    transition-delay: 1s;
    transition: all 1s;
}
[data-mode='light'] .hero-section::before{
    background: url(/Bg/customBG__Day--mobile.png);
    background-position:bottom;
    background-size: cover;
}
[data-mode='dark'] .hero-section::before{
    background: url(/Bg/customBG__Night--mobile.png);
    background-position:bottom;
    background-size: cover;
}

@media screen and ( min-width: 768px ){
    [data-mode='light'] .hero-section::before{
        background: url(/Bg/customBG__Day.png);
    }
    [data-mode='dark'] .hero-section::before{
        background: url(/Bg/customBG__Night.png);
    }
}

.hero-section::before{
    content:"";
    position:absolute;
    inset:0;
    z-index: -10;
}
@media screen and ( min-width: 768px ){
    [data-mode] .hero-section::before{
        background-position:top;
    }
} 
.hero-section__bg-animation{
    z-index: -100;
    position:absolute;
    inset: 0;
}
.hero-section__sun, .hero-section__moon{
    position:absolute;
    left:60%;
    transform:translate(-50%,-50%);
    transition: all 2s cubic-bezier(0.075, 1.82, 0.165, 1);
    z-index: -20;
    filter:drop-shadow(0 0 10px yellow) blur(2px);
}
.hero-section__sun{
    opacity: 1;
    top:30vh;
    opacity: 1;
    max-width:200px;
    width: 40%;
} 
.hero-section__moon{
    top:12vh;
    left: 80%;
    opacity: 0.5;
    max-width:100px;
    width: 50%;
}
@media screen and ( min-width: 768px ){
    .hero-section__moon{
        max-width: 180px;
        left: 60%;
        top: 35vh;
    }
}
[data-mode="dark"] .hero-section__sun{
    opacity: 0;
    top: 50vh;
    width: 0;
}
[data-mode="light"] .hero-section__moon{
    opacity: 0;
    top: 50vh;
    width: 0;
}

/* Color Mode Setup */
.setup .setup__items-list{
    opacity: 0;
    transform:translate(-50%,-20px);
    pointer-events: none;
    transition: all 0.5s;
}
.setup.open .setup__items-list{
    opacity: 1;
    transform: translateY(-50%,0);
    pointer-events: all;
}
.setup__items{
    background-color: var(--bg-100);
    position:absolute;
    left: 100%;
    transform-origin: left;
    top: 0;
    height: 90%;
    padding-inline-start:10px;
}

.setup__items label input + *{
    padding: 4px;
    min-width: 30px;
    display: inline-block;
    color:white;
}
.setup label input{
    display:none;
}
.setup__items-toggler svg{
    color: var(--prime);
    padding: .5rem;
    transition: all .5s;
}
.setup__items{
    opacity: 0;
    transform:translateX(20px);
    transition: all 0.5s;
    pointer-events: none;
}
.setup__items-list .setup__items-toggler:has( input:checked ) + .setup__items{
    opacity: 1;
    transform:translatex(0);
    pointer-events: all;
}

.setup__items-list label{
    user-select: none;
    cursor: pointer;
}
.setup__items-list  input:checked + * {
    background-color:var(--second-100);
}